*.class
*.log
*.iml

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# System specific
.DS_Store
*~

# Project specific files go below this line

# Liquibase drivers
*.jdbc4.jar

# allows for local docker-compose configuration
docker-compose.yml

# vsc
.bloop
.bsp
.metals
.vscode
metals.sbt